- content_for :main_nav do
  %span
- content_for :footer do
  %span

.alpha_signup
  .row
    .preregister_form_container.panel.panel-default
      .panel-body
        = render "mailchimp_preregister_form"

