version: '3'

volumes:
  joatu-db-data:

services:
  app:
    container_name: joatu-app
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/joatu
    ports:
      - "3000:3000"
    depends_on:
      - db
      - bundler
    env_file:
      - './docker/.env.app.conf'
  db:
    container_name: joatu-db
    volumes:
      - joatu-db-data:/var/lib/postgresql/data
    image: mdillon/postgis:latest
    ports:
      - 5454:5432
    env_file:
      - './docker/.env.app.conf'
  bundler:
    container_name: joatu-bundler
    image: busybox
    volumes:
      - .:/bundler