= render partial: 'toolbar/messages'
%h1= t('conversations.index_header')
%section#conversations
  = render partial: "conversations/conversation", collection: @conversations

  = paginate @conversations
