= render partial: 'components/messages_toolbar'
%h1= t('conversations.index_header')
%section#conversations
  = render partial: "conversations/conversation", collection: @conversations

  = paginate @conversations
