
#edit-user-row.row
  #user-form-column.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
    %h1= t('users.editing_header')

    = render 'form'

    = link_to t('users.delete_button'), user_path(@user), method: :delete, class: "btn btn-danger", data: {confirm: t('users.delete_confirm_message')}
