- offer ||= offer_list_item
%a.list-group-item.offer-list-group-item{href: offer_path(offer), class: "#{offer.type_class}"}
  %h4
    = offer.title
    %br
    %small= t('offers.offerer_label', offerer: offer.user.name)
  %p.offer-description= truncate(offer.description, length: 100)
