%h1.text-center= t('offers.index_header')
.row
  .col-sm-12
    = link_to new_offer_path, class: 'btn btn-success pull-right' do
      %i.glyphicon.glyphicon-plus
      = t('offers.new_link') 

.row
  - @offers.each do |offer|
    .col-sm-4
      = render offer
