  $brand-primary: #6CB26F;
  $brand-info: #6CCC70;
  $body-bg: #eeeeee;

  @import "bootstrap-sprockets";
  @import "bootstrap/variables";
  @import "bootstrap";

  @import "font-awesome";

  @import "footer";

  @import "offers";
  @import "static_page";
  @import "nav";

  body {
    margin-top: 50px;
  }

  .scrollspy-offset {
    padding-top: 50px;
    margin-top: -50px;
  }

  .navbar-brand {
    padding: 5px;
  }
