  $brand-primary: #6CB26F;
  $brand-info: #6CCC70;

  @import "bootstrap-sprockets";
  @import "bootstrap";
  @import "font-awesome";

  @import "footer";

  @import "offers";
  @import "home";
  @import "nav";

  body {
    margin-top: 50px;
  }

  .scrollspy-offset {
    padding-top: 50px;
    margin-top: -50px;
  }

  .navbar-brand {
    padding: 5px;
  }
