footer {
  .row {
    color: $navbar-default-color;
    background-color: $navbar-default-bg;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  a {
    color: $navbar-default-link-color;
  }

  a:hover {
    color: $navbar-default-link-hover-color
  }


  &.inverse {
    .row {
      color: $navbar-inverse-color;
      background-color: $navbar-inverse-bg;
    }

    a {
      color: $navbar-inverse-link-color;
    }

    a:hover {
      color: $navbar-inverse-link-hover-color
    }
  }

  p.copyright {
    text-align: center;
  }

  ul {
    list-style: none;
    padding-left: 0px;

    li {
      display: inline-block;
    }
  }
}
