.home_page
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  section {
    margin-bottom: 50px;
  }

  #intro {
    background-image: url(image-path("apple_chop.jpg"));
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-left: $grid-gutter-width / 2 * -1;
    padding-left: $grid-gutter-width / 2;
    margin-right: $grid-gutter-width / 2 * -1;
    padding-right: $grid-gutter-width / 2;
    height: 700px;

    .row {
      margin-top: 150px;
    }

    h1 {
      color: #FFF;
      text-shadow: 1px 1px 1px #000;
    }
  }

  #benefits {
    .icon-container-circle {
      border-radius: 500px;
      border-style: solid;
      width: 100px;
      height: 100px;
      padding-left: 25px;
      padding-top: 25px;
    }
  }

  #features {
    .row {
      background-color: #f2f4f8;
    }

    img {
      max-height: 300px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    ul {
      list-style: none;
      margin-left: 50px;
      margin-right: 50px;
      padding-left: 50px;

      li {
        margin-top: 30px;
        margin-bottom: 30px;

        div {
          display: inline-block;
          vertical-align: middle;
        }

        .fa {
          border-radius: 500px;
          border-style: solid;
          padding: 10px;
          margin-left: -50px;
          margin-right: 5px;
        }
      }
    }
  }

  #subscribe {
    .row {
      background-color: #f2f4f8;
    }
  }
