#main-nav {
  padding-left: 30px;
  padding-right: 30px;

  a.btn {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .nav li {
    font-weight: bold;
  }
}

.navbar-brand {
  margin-right: 10px;

  img {
    max-height: 40px;
  }

  img, .mini-logo {
    display: inline-block;
  }

  .mini-logo {
    font-size: 10px;
    color: #FFF; // To match joatu logo.
    :hover {
      color: inherit;
    }
  }
}
