.home_page {
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  section {
    margin-bottom: 50px;
  }

  #intro {
    text-align: center;
    margin-bottom: 0px;

    .row {
      padding-top: 75px;
      background-image: url(image-path("apple_chop.jpg"));
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 600px;
    }

    .faded-background {
      background-color: rgba(0,0,0,0.4);
      padding: 20px;
    }

    h1 {
      color: #FFF;
      font-family: "Bebas Neue Light";
      // text-shadow: 1px 1px 1px #000;
      font-size: 2.75em;

    }

    @media screen and (min-width: $screen-md-min) {
      .row {
        height: 700px;
        padding-top: 150px;
      }
      h1 {
        font-size: 4em;
      }
    }

    @media screen and (min-width: 1680px) {
      .row {
        height: 1080px;
        padding-top: 350px;
      }
      h1 {
        font-size: 3.6em;
      }
    }
  }

  #how-it-works {
    .row {
      background-color: #fff;
    }
  }

  #benefits {
    .icon-container-circle {
      border-radius: 500px;
      border-style: solid;
      width: 100px;
      height: 100px;
      padding-left: 25px;
      padding-top: 25px;
    }
  }

  #features {
    .row {
      background-color: #fff;
    }

    img {
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    ul {
      list-style: none;
      margin-left: 50px;
      margin-right: 50px;
      padding-left: 50px;

      li {
        margin-top: 30px;
        margin-bottom: 30px;

        div {
          display: inline-block;
          vertical-align: middle;
        }

        .fa {
          border-radius: 500px;
          border-style: solid;
          padding: 10px;
          margin-left: -50px;
          margin-right: 5px;
        }
      }
    }
  }

  #subscribe {
    .row {
      background-color: $gray-lighter;
    }

    .newsletter-container {
      width: 260px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
    }
  }
}

.alpha_signup {
  .preregister_form_container {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

    h2 {
      font-size: 1.75em;
      text-align: center;
    }
  }
}

