
// General purpose spacers
.voffset0  { margin-top: 0px; }
.voffset2  { margin-top: 2px; }
.voffset5  { margin-top: 5px; }
.voffset10 { margin-top: 10px; }
.voffset15 { margin-top: 15px; }
.voffset20 { margin-top: 20px; }
.voffset25 { margin-top: 20px; }
.voffset30 { margin-top: 30px; }
.voffset40 { margin-top: 40px; }
.voffset50 { margin-top: 50px; }
.voffset60 { margin-top: 60px; }
.voffset80 { margin-top: 80px; }
.voffset100 { margin-top: 100px; }
.voffset150 { margin-top: 150px; }

.loffset2  { margin-left: 2px; }
.loffset5  { margin-left: 5px; }
.loffset10 { margin-left: 10px; }
.loffset15 { margin-left: 15px; }
.loffset20 { margin-left: 20px; }
.loffset30 { margin-left: 30px; }
.loffset40 { margin-left: 40px; }
.loffset50 { margin-left: 50px; }
.loffset60 { margin-left: 60px; }
.loffset80 { margin-left: 80px; }
.loffset100 { margin-left: 100px; }
.loffset150 { margin-left: 150px; }

.boffset0  { margin-bottom: 0 !important; }
.boffset2  { margin-bottom: 2px; }
.boffset5 { margin-bottom: 5px; }
.boffset10 { margin-bottom: 10px; }
.boffset15 { margin-bottom: 15px; }
.boffset20 { margin-bottom: 20px; }
.boffset30 { margin-bottom: 30px; }
.boffset40 { margin-bottom: 40px; }
.boffset50 { margin-bottom: 50px; }
.boffset60 { margin-bottom: 60px; }
.boffset80 { margin-bottom: 80px; }
.boffset100 { margin-bottom: 100px; }
.boffset150 { margin-bottom: 150px; }
