$brand-primary: #638701;
$brand-info: #a5c748;

$alt-color-1: #8cb7d3;
$alt-color-2: #d3c88c;
$alt-color-3: #c8a4d3;

$state-info-bg: $brand-info;
$state-info-text: darken($brand-primary, 10%);

$link-color: darken($brand-primary, 5%);

$body-bg: #eeeeee;
// $navbar-inverse-bg: #638701;
// $navbar-inverse-bg: #2B3F01;
$navbar-inverse-bg: darken($brand-primary, 20%);
$navbar-inverse-link-color: $brand-primary;
$navbar-inverse-link-hover-color: lighten($navbar-inverse-link-color, 15%);

$headings-font-family: "Bebas Neue Regular";
